@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --editor-syntax-list-marker: #569cd6;
}
@theme {
  --color-background: var(--background);
  --color-editor-list-marker: var(--editor-syntax-list-marker);
}