@import "tailwindcss";

.bracket-orange {
  color: #ce9178 !important;
}
.mtk8{
  font-weight: bold;
}
:root {
  --bg-main: #181818;
  --bg-editor: #212121;
  --bg-file-opened: #242424;
  --bg-file-hover: #303030;
  --bg-outline: #22a6f1;

  --foreground: #ffffff;
  --bg-outline-line: #d9d9d9;
}
@theme {
  --color-main: var(--bg-main);
  --color-editor: var(--bg-editor);
  --color-file-opened: var(--bg-file-opened);
  --color-file-hover: var(--bg-file-hover);
  --color-outline: var(--bg-outline);

  --color-foreground: var(--foreground);
  --color-outline-line: var(--color-outline-line);
}


.custom-scrollbar::-webkit-scrollbar{
  height: 5px;
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  background: var(--bg-main)
}
.custom-scrollbar::-webkit-scrollbar-thumb{
  background: var(--bg-file-opened);
  border-radius: 999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background: #6a6a6a;
}